<!-- Three -->
<section id="three" class="wrapper style2 special">
	<header class="major">
		<h2>Find out more...</h2>
		<p>COVID aware shows how collective behaviours can affect	spread of COVID-19 through a community.<br />
				Try the app to see how coronavirus might spread through a community</p>
	</header>
	<ul class="actions">
		<li><a href="{{ site.download_button_url }}" class="button special icon fa-download">Try the App</a></li>
		<li><a href="#" class="button">Learn More</a></li>
	</ul>
</section>
